@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    margin: 0%;
    padding: 0%;
    font-family: 'Lato', sans-serif;;
    font-weight: 900;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: linear-gradient(0deg, rgba(215, 192, 208) 0%, rgba(239, 240, 209) 100%);
}

img {
    width: 100px;
    height: 100px;
}

nav {
    width: 30%;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
    color: rgb(52, 58, 64);
    text-transform: uppercase;
    text-decoration: none;
}

  .font {font-family: 'Lato', sans-serif;}

